body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 5.625rem;
    font-weight: lighter;
    margin: 0 auto 20;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
    font-family: 'Spartan', sans-serif;
}

.top-cloud {
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    bottom: 300px;
    left: 300px;
}

.cloud {
    position: absolute;
    width: 12rem;
}